
 @model IEnumerable<IvysNails.Infrastructure.Data.Models.Product>

@{
    ViewBag.Title = "Всики продукти";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr />

<div class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <!-- Add other headers like Image, Price, etc. -->
        <th></th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                <img src="@product.ImageUrl" alt="Product Image" style="max-width: 250px; max-height: 250;" />
            </td>
            <td>
                Цена: @Html.DisplayFor(modelItem => product.Price) лева
            </td>
            @* <td>
                <button class="btn btn-info show-details">Детайли</button>
                <div class="details" style="display:none;">@Html.DisplayFor(modelItem => product.Details)</div>
            </td> *@
        </tr>
    }

   @*  @section Scripts {
        <script>
            $(document).ready(function () {
                $(".show-details").click(function () {
                    $(this).siblings(".details").toggle();
                });
            });
        </script> *@
    }
</div>


<div>
    @Html.ActionLink("Create New", "Create")
</div>

