 @model IEnumerable<IvysNails.Infrastructure.Data.Models.Product>

@{
    ViewBag.Title = "Всики продукти";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr />

<div class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                <img src="@product.ImageUrl" alt="Product Image" style="max-width: 250px; max-height: 250px;" />
            </td>
            <td>
                Цена: @Html.DisplayFor(modelItem => product.Price) лева <br />
                Наличност: @Html.DisplayFor(modelItem => product.StockQuantity) бр.
            </td>
            @* <td>
                <button class="btn btn-info show-details">Детайли</button>
                <div class="details" style="display:none;">@Html.DisplayFor(modelItem => product.Details)</div>
            </td> *@
        </tr>
    }

</div>


<div>
    @Html.ActionLink("Create New", "Create")
</div>

