@using System.Security.Claims
 @model IEnumerable<IvysNails.Infrastructure.Data.Models.Product>

@{
    ViewBag.Title = "Всики продукти";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr />

<div class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => product.Name)
            </td>
            <td>
                <img src="@product.ImageUrl" alt="Product Image" style="max-width: 250px; max-height: 250px;" />
            </td>
            <td>
                Цена: @Html.DisplayFor(modelItem => product.Price) лева <br />
                Наличност: @Html.DisplayFor(modelItem => product.StockQuantity) бр.
            </td>
            
        </tr>
    }

</div>


@{

    string desiredUserId = "c2f14bf7-ffdd-47a4-90b3-f2309486fae9";


    var userId = (User.Identity.IsAuthenticated) ? User.FindFirstValue(ClaimTypes.NameIdentifier) : null;


    bool isDesiredUser = (userId == desiredUserId);
}

@if (isDesiredUser)
{
    <form asp-area="" asp-controller="Product" asp-action="Add" method="get">
        <button type="submit" class="btn btn-primary">Create New</button>
    </form>
}